
*
{
  outline: 0!important;
}
.no-padding
{
  padding: 0!important;
}
.custom-panel-dashboard
{
  width: 85%;
  margin: 25px auto;
  border: 1px solid #BCBCBC;
}
.campaign-result .panel-body::-webkit-scrollbar {
    width: 6px;
} 
.campaign-result .panel-body::-webkit-scrollbar-track {
    border-radius: 5px;
}
 .campaign-result .active-campaign-panel .panel-body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #BCBCBC;
}
 .campaign-result .pending-campaign-panel .panel-body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #BCBCBC;
}
.panel-list:hover {
  background: #fff !important;
}
.overflow ,
.form-group { 
  overflow: hidden;
}
.hidden, .adBtnDetails
{
  display: none;
}
.sidebar-menu > li {
    border-bottom: 1px solid #676C75;
}
.custom-wapper
{
  background-color: #515763!important;
}
.custom-header-img-large
{
  margin-top: 10px;
  margin-left: -10px;
}
.custom-header-img-mini
{
  width: auto;
  margin-top: 10px;
}
.custom-side-nav
{
  background-color: #515763!important;
  width: 90px;
}
.custom-check-container
{
  width: 30px;
  height: 30px;
  background-color: #5A2C94;
  text-align: center;
  border-radius: 50%;
  margin-left: 80px;
}
.content-wrapper
{
  /*margin-left: 90px!important;*/
}
.custom-glyphicon-ok
{
  padding: 5px!important;
  color: white!important;
}
.custom-money-container h2
{
  margin: 0;
  font-size: 16px;
  color: #393939;
  line-height: 1.2;
  font-weight: 700;
}
.custom-money-container p
{
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
}
.custom-btn-active
{
  background-color: #27A59F;
  color: white;
}
.custom-btn-Predict
{
  width: 20%;
  font-size: 20px;
  color: white;
  background-color: #29a9a2;
  margin-top: 50px;
}
.custom-btn-large
{
  width: 80%;
  font-size: 20px;
  color: white;
  background-color: #29a9a2;
}
.custom-btn-pending
{
  background-color: #602A8A;
  color: white;
}
.payment-method
{
  border-bottom: 1px solid #e3e4e8;
  height: 160px;
}
.custom-box-solid
{
  border: 1px solid #515763!important;
}
.custom-brief-container
{
  border-bottom: 1px solid #515763!important;
  background-color: #01BC8C;
  color: white;
  padding: 1px;
}
.payment-choices
{
  list-style: none;
}
.payment-choices li
{
  /*float: left;*/
  margin-left: 5px;
}

.legend {
    /*width: 10em;*/
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
    float: left;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}
.create-campaign-loading, .update-campaign-loading, .show-update-campaign, .winning-campaign
{
  display: none;
}
.custom-icon
{
  color: #fff;
  font-size: 30px!important;
}

.custom-a-move-padding
{
  padding: 12px 5px 15px 0px!important;
}
.active-menu-span
{
  content: ' ';
  position: absolute;
  border: solid 1px transparent;
  border-right: solid 5px #E7EAEF;
  border-width: 12px;
  left: 94%;
  top: 35%;
  margin-left: -15px;
  transition: all 1.5s;
  display: none;
}
.sidebar-menu li:hover .active-menu-span
{
  display: block;
}
/*progress process css*/
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #777777;font-size: 12px;text-transform: uppercase;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #72DAC5; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #16AD8F; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #16ad8f;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.content-post 
{
  width: 84%;
  border: 2px solid #16AD8F;
  margin: auto;
  margin-top: 35px;
  padding-bottom: 13px;
  background: #fff;
}
.content-post .text-title 
{
    background: #16AD8F;
    color: #fff;
    border-bottom: 2px solid #16AD8F;
}
.content-post .text-title p {
    font-size: 50px;
    text-shadow: 1px 1px 1px #333;
}
.activate-arrow-direction
{
  transform: rotate(180deg);
  transition: all 0.5s;
}
.remove-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.remove-margin {
  margin: 0;
}
#campaign-result .panel-header {
    border: 1px solid #16AD8F;
    background: #16AD8F;
    overflow: hidden;
    padding: 8px;
    color: #fff;  
}
#campaign-result .panel-header .form-group {
    margin: 0;
    overflow: hidden;
}
#campaign-result .panel-header .form-group label {
    margin: 0;
    line-height: 34px;
}
#campaign-result .panel-footer {
    border-bottom: 2px solid #16AD8F; 
}
.bottom-text-container {
    overflow: hidden;
    width: 100%;
}
.bottom-text-container > div {
    margin-top: 5%;
}
#campaign-brief {
    margin-top: 50px;
    border: 2px solid #16AD8F;
    width: 90%;
    background: #fff;
    padding-top: 0;
    margin-bottom: 10px;
}
#campaign-head-title {
    font-size: 50px;
    background: #16AD8F;
    color: #fff;
    border-bottom: 2px solid #16AD8F;
    text-shadow: 1px 1px 1px #333;
    margin: 0;
}

.horizontal-toggle-menu {
    position: absolute;
    width: 300px;
    min-height: 100vh;
    left: -112px;
    float: left;
    display: none;
}
.right-panel-content {
    overflow: hidden;
}
.toggle-vertical {
    position: relative;
   right: -300px;
}
.has-toggled {
    position: absolute;
    width: 300px;
    min-height: 100vh;
    float: left;
    display: inline-block;
    border-right: 1px solid #16AD8F;
    border-bottom: 1px solid #16AD8F;
    background: #FFFFFF;
}
.has-toggled ul {
    overflow: hidden;
}
.has-toggled ul li {
    float: left;
    width: 100%;
    padding: 10px 8px;
    border-bottom: 1px solid #E7EAEF;
}
.has-toggled ul li:hover {
    cursor: pointer;
    background: #16AD8F;
    color: #fff;    
}
.has-toggled ul li:first-child {
    border-top: 1px solid #eee;
}
.title-submenu {
    background: #16AD8F;
    color: #fff;
    padding: 10px 15px;
}
.title-submenu h2 {
    margin: 0;
}
.list-content > div {
    float: left;
    display: inline-block;
}
.list-icon {
    margin-right: 10px;
}
.list-title {
    width: 200px;
}
.list-title h4 {
    margin: 0;
    line-height: 30px;
}
.list-title small {
    color: #777;
}
#submenu-settings {
  overflow: hidden;
  padding-bottom: 15px;
}
#submenu-settings ul li {
    float: left;
    display: inline-block;
}
#submenu-settings ul li a {
    padding: 15px;
    font-size: 17px;
    text-transform: capitalize;
}
.heading-action {
    background: #fff;
    padding: 12px 0px;
}
.heading-action p {
    font-size: 18px;
    line-height: 34px;
}
#settings-page .panel-heading {
    line-height: 34px;
    font-size: 19px;
    text-transform: uppercase;
}
#active-campaign-panel .btn-default {
    margin-top: 15px;
    background: #E4E4E4;
    border: 1px solid #D2D4D6;
    border-bottom: 4px solid #D2D4D6;
}

/* Ads Result Pop Side Menu */
#pop-sidebar {
    position: relative;
    margin-top: -50px;
    top: -3px;
    z-index: 1;
}
.sidebar-menu-wrapper ul.list-unstyled {
    height: 100vh;
    background: #fff;
}
.sidebar-menu-wrapper ul li:first-child {
    padding: 5px 15px;
    color: #fff;
    background: #28A6A0;
    cursor: auto;
}
.sidebar-menu-wrapper ul li:first-child > div h2 {
    margin: 0;
    font-size: 24px;
}
.sidebar-menu-wrapper ul li:first-child > div .btn-close {
    color: #fff;
    font-size: 30px;
}
.sidebar-menu-wrapper ul li:not( :first-child ) {
    background: #fff;
    border-bottom: 1px solid #E7EAEF;    
}
.sidebar-menu-wrapper {
    background: #367FAA;
    color: #fff;
}
.sidebar-menu-wrapper ul li {
    float: left;
    padding: 15px 15px;
    width: 100%;
    cursor: pointer;
}
.sidebar-menu-wrapper ul li {
    color: #28A6A0;
}
.sidebar-menu-wrapper ul li:hover:not(:first-child) {
    background: #fff;
    color: #28A6A0;
}
#ads-preview-right-wrapper {
    /* float: right; */
    position: absolute;
    right: 0;
    background: #fff;
    /*height: 100vh;*/
    margin-top: 0px;
    padding-bottom: 5pc;
    box-shadow: 0px 2px 5px #ccc;
    transition: all 0.5s;
    right: -100%;
    height: 599px;
    overflow-y: scroll;
}
#ads-preview-right-wrapper.toggled {
    right: 0;
}
#ads-preview-right-wrapper .right-ads-preview li {
  overflow: hidden;
}
#ads-preview-right-wrapper .right-ads-preview > li:first-child {
  background-color: #515763;
  border: 1px solid #ccc;
}
#ads-preview-right-wrapper .right-ads-preview li .heading-content {
    display: inline-block;
    float: left;
    min-width: 40px;
    min-height: 40px;
    padding-top: 5px;
}
#ads-preview-right-wrapper .right-ads-preview li .preview-container{
    margin-top: 20px;
}
#ads-preview-right-wrapper .right-ads-preview li .heading-content:first-child {
    border-right: 1px solid #ccc;
    margin-right: 12px;
}
#ads-preview-right-wrapper .right-ads-preview li .heading-content a.btn-close {
    font-size: 22px;
    color: #fff;
}
.right-preview-wrapper li {
    padding: 10px 20px;
}
.right-preview-wrapper li:hover {
    /*background-color: #eee;*/
}

/*Custom*/
.width-320 {
  width: 320px;
}
.nav-tabs>li {
    float: none;
    display: inline-block;
}
.nav-tabs>li>a {
    font-size: 19px;
    background: #f7f7f7;    
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover
{
  border-top: 5px solid #29A7A0;
}
/*TRANSFORMICONS*/
.tcon {
  margin-top: 5px !important; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover,
  .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: #367FA9;
  position: relative; }
  .tcon-menu__lines::before,
  .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: #367FA9;
    content: '';
    position: absolute;
    left: 0;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .tcon-transform .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines::before,
  .tcon-menu--xbutterfly .tcon-menu__lines::after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
    transition: top 0.3s 0.6s ease, transform 0.3s ease; }
  .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before,
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      top: 0;
      transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
      transition: top 0.3s ease, transform 0.3s 0.5s ease;
      width: 40px; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active,
  .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }
.sidebar-menu li.ideas-menu a.idea-hover:hover
{
    background-color: #28A6A0!important;
}

.active-idea
{
  background-color: #28A6A0;
  color: white;
}

@media only screen and (max-width : 751px) {
  .custom-side-bar-toggle
  {
    display: block!important;
  }
}

.header-title-section
{
  color: #777777;
}
.custom-button
{
  background-color: #28A6A0;
  color: white;
  border-radius: 0px!important;
}
.custom-button:hover
{
  color: white;
}
.awe-wrapper
{
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.showBtn
{
  display: block;
}
.custom-thumbnail-ad:hover
{
  cursor: pointer;
}
.no-border
{
  border: none!important;
}
.custom-input-group-create-campaign
{
  width: 80%;
  margin: 0 auto;
}
.custom-form-control
{
  height: 50px;
}
.active-target
{
  color: white!important;
  background-color: #16AD8F!important;
  transition: all 0.5s;
}
.custom-modal-header-view-ads
{
  background-color: #28A6A0;
}
.panel-box:hover
{
  /*border: 2px solid #28A6A0;*/
  box-shadow: 0px 0px 4px #28A6A0;
  transition: all 1s;
}
.revenue-active
{
  content: ' ';
  position: absolute;
  border: solid 1px transparent;
  border-right: solid 5px #E7EAEF;
  border-width: 12px;
  left: 94%;
  top: 35%;
  margin-left: -15px;
}
.step-container
{
width: 25px;
    height:   auto;
    text-align: center;
    background: #515763;
    border-radius: 50%;
    color: white;
    padding: 2px;
    float: left;
    margin-top: -4px;
    height: 25px;
}
.step-description
{
  margin-left: 35px;
  margin-top: 0px;
  font-weight: bold;
  color: #515763;
}
.step-second-description
{
  font-weight: normal;
  font-style: italic;
  /*display: none;*/
}
.custom-form-group-predict
{
  color: #827676;
}
.custom-panel-group .panel
{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
.steps-predict
{
  margin: 0!important;
  display: none;
  color: #28A6A0;
}

.active-predict-selection
{
  color: #715391!important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)!important;
  transition: all 1.5s;
}
.marker-bar-container
{
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #DEEEBF , #94C82E);
  margin: 0 auto;
}
.level-container-prediction
{
  width: 75%;
  margin: 8px auto 0;
  color: #9E9A9A;
  font-size: 15px;
}
.marker-bar-container-main
{
  width: 70%;
  margin: 100px auto 0;
}
.marker-indicator
{
  width: 10%;
  transition: 1.5s;
  margin-top: -60px;
}
.marker-indicator p
{
  margin: 0;
  color: #888080;
  font-size: 14px;
}
.marker-indicator span
{
  font-size: 25px;
}
.custom-violet-button
{
  border-radius: 0px!important;
  width: 20%!important;
  font-size: 18px;
  margin-top: 20px;
  background: #715391!important;
  color: white!important;
}
.predict-status-information-container
{
  width: 100%;
  text-align: center;
}
.predict-status-information-container p
{
  font-size: 19px;
  color: #777777;
  font-weight: bold;
}
.predict-status-result-container
{
  width: auto;
  height: auto;
  position: relative;
}
.suggestions-container
{
  padding: 30px;
}
.suggestion-details
{
  margin: 20px;
}
.suggestions-container p
{
  /*font-weight: bold;*/
  color: #7F8186;
  font-size: 18px;
}
.suggestion-details p.suggestions-text span
{
  margin-left: 10px!important;
  color: #7F8186;
  font-size: 18px;
  /*font-weight: bold;*/
}
.suggestions-text a
{
  margin-left: 15px;
  font-weight: normal;
  font-size: 14px;
}
.custom-thumbnail-suggestion
{
  width: 70%;
  margin-top: 20px;
  /*float: left;*/
  /*margin-left: 50px;*/
}
.modal.left .modal-dialog,
  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }

/*Left*/
  .modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
  }
  
  .modal.left.fade.in .modal-dialog{
    left: 0;
  }
        
/*Right*/
  .modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.in .modal-dialog {
    right: 0;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
  }

.custom-modal-dialog-preview
{
  width: 600px!important;
}
#barChart
{
  width: 400px!important;
  height: 400px!important;
}
.custom-thumbnail-suggestion-2
{
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
.icon-marker-suggest:hover,.icon-up-arrow
{
  transition: all 1.5s;
  cursor: pointer;
}

.md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon
{
  background-color: rgba(40, 166, 160, 0.87)!important;
}
.md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-ink-ripple
{
  color: rgba(40, 166, 160, 0.87)!important;
}
md-radio-group.md-default-theme, md-radio-group .md-checked .md-ink-ripple
{
  color: rgba(40, 166, 160, 0.26);
}
md-radio-button.md-default-theme.md-checked, md-radio-button.md-checked .md-off
{
  border-color: rgba(40, 166, 160,0.87);
}
md-radio-button.md-default-theme, md-radio-button .md-on
{
  background-color: rgba(40, 166, 160,0.87);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-left .md-half-circle
{
  border-left-color: rgb(40, 166, 160);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-left .md-half-circle, md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-right .md-half-circle
{
  border-top-color: rgb(40, 166, 160);
}
md-progress-circular.md-default-theme, md-progress-circular .md-inner .md-right .md-half-circle
{
  border-right-color: rgb(40, 166, 160);
}
.md-label
{
  width: 100%!important;
}
.radio-float
{
  float: left;
}
.email-add-button
{
  display: none;
}
li.explore-sub-menu
{
  display: none;
}
li.explore-sub-menu a
{
  margin-left: 80px;
  font-size: 15px;
  font-weight: bold;
}
.explore-rotate-arrow
{
  font-size: 25px;
  margin-top: 15px;
  margin-right: 10px;
  transform: rotate(90deg);
  transition: all 0.5s;
}
.trigger-arrow-glyp
{
  font-size: 25px;
  margin-top: 15px;
  margin-right: 10px;
  transition: all 0.5s;
}
.inner-addon {
  position: relative;
  width: 45%;
  margin: 0 auto;
  transition: all 0.5s;
}
div.inner-addon_focus
{
  position: relative;
  width: 70%;
  margin: 0 auto;
  transition: all 0.5s;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-left: 40%;
  color: #8890A5;
}
.remove-side-bar-reports-container
{
  margin-left: -100%;
  transition: 1s;
}
.show-side-bar-menu
{
  margin-left: 10px; 
  margin-top: 10px;
  transition: 0.5s;
  display: none;
}
ul.structure-components
{
  list-style: none;
  background: white;
  /*margin-left: 50px;*/
  margin-top: 10px;
}
ul.structure-components li
{
  color: #28A6A0!important;
  background: white!important;
  border-bottom: none!important;
}
ul.structure-components li a
{
  color: #28A6A0!important;
}
.custom-explore-right-arrow
{
  margin-left: 50px;
}
.explore-element-body
{
  height: 400px;
}
.color-adhero-green
{
  background: #28A6A0!important;
  border-radius: 0px!important;
}
.element-text-explore
{
  margin: 0;
  color: #4e5a64;
  padding: 10px;
  text-align: justify;
}
.element-text-explore-insights
{
  color: #4e5a64;
}
.explore-element-radio-button
{
  float: left!important;
}
.clear-both
{
  clear: both;
}
.explore-avatar
{
  width: 24px;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused
{
  color: #4e5a64!important;
}
md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled])
{
  color: #72AFD2!important;
}
.explore-container-images-preview a
{
  color: #7E8084!important;
}
.explore-avatar-title
{
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
  color: #4e5a64!important;
}
.explore-container-image-avatar-preview
{
  padding: 10px;
}
.explore-container-image-avatar-preview img
{
  width: 100%;
}
.explore-container-description-avatar p
{
  margin-top: 10px;
  margin-left: 30px;
  font-size: 15px;
  color: #4e5a64;
}
.explore-tr-th th
{
  text-align: center;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  color: #7e8d9a;
  border-right: 1px solid #f0f2f4;
}
.explore-tr-td td
{
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #f0f2f4;
}
.explore-container-table-status
{
  border-bottom: 1px solid #f0f2f4;
}
md-pagination-wrapper
{
  min-width: 400px;
}
/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*angular*/
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }

.qustionnaires
{
  margin-top: 20px;
}
.selection-questionnaire-cat
{
  padding: 5px;
}
.objective p
{
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.selection-industry
{
  font-size: 18px;
}
.icon-container-questionnaire
{
  text-align: center;
}
.icon-container-questionnaire span
{
  font-size: 80px;
}
.custom-heading-questionnaire
{
  border: none!important;
  background-color: transparent!important;
}
.icon-questionnaire-active
{
  background: #28A6A0;
  color: white;
}
.col-md-3.icon-container-questionnaire:hover 
{
  background: #28A6A0;
  color: white;
  transition: all 1.5s ease;
  cursor: pointer;
}
.category-industry-active
{
  background: #28A6A0;
  color: white;
  transition: all 1.5s ease;
}
.icon-container-questionnaire p
{
  margin: 0!important;
}
.questionnaire-radio-button
{
  margin-left: 30px;
}
.quesions-category-row
{
  margin-left: 10px!important;
}
.quesions-category-row section h4
{
  margin-left: 20px;
}
.coming_soon
{
  color: red;
  font-style: italic;
  margin-left: 10px;
}
.prediction-cursor-box
{
  cursor: pointer;
}
.no-border-color
{
  border-color: transparent!important;
}
.gray-color
{
  background-color: #F5F5F5!important;
}
.custom-row-predict-image-elements
{
  padding: 20px;
  padding-top: 0px;
}
.recommended-image-elements-p
{
  margin: 0;
  margin-left: 20px;
  color: rgb(167, 10, 10);
}
.custom-radio-buttons
{
  float: left;
}
.custom-radio-buttons-container
{
  margin: -10px;
}
.custom-row-predict-text-elements
{
  padding: 20px;
  margin-top: 30px;
}

.images-gallery div img
{
  box-shadow: -2px 2px 3px gray;
}
.custom-col-md-4
{
  margin-top: 10px;
}
.next-predict-container
{
  width: 100%;
}
.margin-top-20px
{
  margin-top: 20px;
}
.custom-info-sign
{
  color: red;
}
.add-padding-100
{
  padding-left: 100px!important;
}
.custom-table-row
{
  margin-bottom: 10px;
}
.custom-panel-heading-overview
{
  background-color: transparent!important;
  border: none;
}
.subject-line-container
{
  width: 100%;
}
.subject-line-first
{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
.subject-line-second
{
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.image-focus-graph-text
{
  padding: 10px;
}
.custom-panel-default-subject-line, .custom-panel-default-graph-container
{
  box-shadow: -5px 5px 2px gray;
}