/*---------* Reset CSS *------------ */
* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

@font-face {
    font-family: Museo Sans;
    src: url('../fonts/Museo Sans W01 Rounded 100.ttf')  format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Regular.otf')  format('truetype');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Regular.ttf')  format('truetype');
}

html{ 
	height: 100%; 
	width: 100%; 
}
body {
	/*font-family: gotham-htf, arial, sans-serif !important;*/
	height: 100%; 
	width: 100%; 
}
h1 { 
    font-size: 2.2em; 
} 
h2 { 
    font-size: 2.0em;     
} 
h3 { 
    font-size: 1.8em; 
} 
h4 { 
    font-size: 1.6em;     
} 
h5 { 
    font-size: 1.4em;     
} 
p { 
    font-size: 1.2em;     
}

a{
	text-decoration: none;
	color: #FFF !important;
}

/* ---------* end: Reset CSS *------- */

/* Header */

header{
	width: 100%;
	padding: 0 90px 0 120px;
    max-height: 65px;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.header-bg{
    background: rgba(255,255,255,0.97);
    transition: all .3s ease-in-out;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
}

header ul.nav li{
    padding-right: 30px;
}

header ul.nav li a:hover{
    border-top:3px solid #17b08d;
}

header ul.nav li a{
	border-top:3px solid transparent;
    height: 72px;
    line-height: 45px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    opacity: .8;
    padding: 10px 0 !important;
}

header ul.nav li:nth-child(7) a{
    opacity: 1;
}

    
header ul.nav li a span.btn-yellow{
    background: #17b08d;
    padding: 12px 25px;
    line-height: 17px;
    font-size: 15px;
    font-family: 'Roboto-Bold';
    font-weight: 600;
    border-radius: 2px;
    color: #FFF;
    letter-spacing: -.5px;
}

header ul.nav li a span.btn-yellow:hover{
    background: transparent;
    border:1px solid #17b08d;
    color: #17b08d;
}

header ul.nav li a:hover,header ul.nav li a:focus{
    background: transparent;
}

header .navbar-brand {
    padding: 0px 15px !important;
}

/*----------------*/


/* ------- Body ----*/

.content-one,.content-two,.content-three,footer{
	padding-left: 100px !important;
	padding-right: 100px !important;
}

section p{
	font-size: 20px;
    font-weight: 300 !important;
    line-height: 33px;
    font-family: 'Roboto';
}

section#content-one{
	/*background-image: url( '../img/headers.jpg' );*/
	font-family: 'Museo Sans';
	position: relative;
	border-bottom: 1px solid #DBDBDB;
	overflow: hidden;
}


section#content-one{
    height: 580px;
}

section#content-one h3 {
    font-size: 58px !important;
    font-weight: 100;
}

@media only screen and (max-width: 999px){
    section#content-one{
        height: 330px;
    }

    section#content-one h3 {
        font-size: 40px !important;
        font-weight: 100;
    }
}

@media only screen and (max-width: 600px){
    section#content-one{
        height: 40%;
    }

    section#content-one h3 {
        font-size: 30px !important;
        font-weight: 100;
    }
}


section#content-one .overlay{
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 580px;
	z-index: 1;
}


section#content-one video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

section#content-one .heading{
	width: 70%;
	margin: 0 auto;
}


section#content-two .header h2{
	color: #2e9cd2 !important;
	font-weight: 500 !important;
}

section#content-three{
    position: relative;
}

section#content-three .overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section#content-three .container .col-md-6{
    z-index: 5;
}


/*section#content-four {
	overflow: hidden;
    /*position: relative;*/
/*}*/

section#content-four .logos{
	border: 1px solid #DBDBDB;
	border-width: 1px 0;
	/*background: #DBDBDB;*/
	padding: 20px 0;
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: left;

}

section#content-four .fadeLeft{
    position: absolute;
    top: 0;
    left: 0px;
    background: rgba(255,255,245,0.9);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft2{
    position: absolute;
    top: 0;
    left: 5px;
    background: rgba(255,255,245,0.8);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft3{
    position: absolute;
    top: 0;
    left: 10px;
    background: rgba(255,255,245,0.7);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft4{
    position: absolute;
    top: 0;
    left: 15px;
    background: rgba(255,255,245,0.6);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft5{
    position: absolute;
    top: 0;
    left: 20px;
    background: rgba(255,255,245,0.5);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft6{
    position: absolute;
    top: 0;
    left: 25px;
    background: rgba(255,255,245,0.4);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft7{
    position: absolute;
    top: 0;
    left: 30px;
    background: rgba(255,255,245,0.3);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeLeft8{
    position: absolute;
    top: 0;
    left: 35px;
    background: rgba(255,255,245,0.2);
    width: 5px;
    height: 100%;
    z-index: 5;
}

section#content-four .fadeRight{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,245,0.9);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight2{
    position: absolute;
    top: 0;
    right: 5px;
    background: rgba(255,255,245,0.8);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight3{
    position: absolute;
    top: 0;
    right: 10px;
    background: rgba(255,255,245,0.7);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight4{
    position: absolute;
    top: 0;
    right: 15px;
    background: rgba(255,255,245,0.6);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight5{
    position: absolute;
    top: 0;
    right: 20px;
    background: rgba(255,255,245,0.5);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight6{
    position: absolute;
    top: 0;
    right: 25px;
    background: rgba(255,255,245,0.4);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight7{
    position: absolute;
    top: 0;
    right: 30px;
    background: rgba(255,255,245,0.3);
    width: 5px;
    height: 100%;
    z-index: 5;
}
section#content-four .fadeRight8{
    position: absolute;
    top: 0;
    right: 35px;
    background: rgba(255,255,245,0.2);
    width: 5px;
    height: 100%;
    z-index: 5;
}



section#content-four .logo-container{
    width: 3245px;
    position: relative;
    height: 20px;
}

section#content-four .img-logo{
	position: relative;
	display: inline !important;
	margin: 0 30px;
}

section#content-four .img-logo img{
	height: 100%;
}

section#content-five .gallery-container{
	position: relative;
}

section#content-five .gallery-container .img-container{
	position: relative;
    overflow: hidden;
    height: 250px;
    background-position: center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}




section#content-five .gallery-container .img-container div.bg{
	background: rgba(1, 198, 232, 0.75);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 1s ease-in-out;
}

section#content-five .gallery-container .img-container:hover div.bg{
	display: inline;
	transition: all 1s ease-in-out;
}

section#content-six form{
	width: 40% !important;
	margin: 0 auto;
}


@media only screen and (min-width:1000px){
    section#content-five .gallery-container .img-container{
        width: 19% ;
        display: inline-block;
    }

}


@media only screen and (max-width:999px){
	section#content-five .gallery-container .img-container{
		width: 49% ;
		display: inline-block;
	}

    section#content-six form{
        width: 50% !important;
        margin: 0 auto;
    }

    header{
        padding: 0 10px !important;
    }


    .map-left{
        text-align: center !important;
    }

    .map-right{
        margin-top: 70px !important;
    } 

}

@media only screen and (max-width: 760px){

    section#content-five .gallery-container .img-container{
        background-size: 100% !important;
    }

     section#content-six form{
        width: 90% !important;
        margin: 0 auto;
    }

    section#content-five .gallery-container .img-container{
        width: 100% ;
        display: inline-block;
    }

    section#content-one{
        z-index: 10;
    }

    header{
        padding: 0 !important;
        z-index: 10;
        height: 60px;
        position: relative !important;
        background: transparent;
        max-height: 10000px !important;
    }

    header .collapse{
        padding: 0px 32px;
        color: #FFF !important;
        /*background: rgb(255, 255, 255);*/
        z-index: 2;
        display: inline !important; 
    }

    #black{
        color: #333 !important;
        font-size: 35px !important;
    } 

    #white{
        color: #333 !important;
        font-size: 35px !important;
    } 

    header ul.nav li a{
        color: #333 !important;
        z-index: 10;
        border-top: 3px solid transparent;
        height: 40px;
        line-height: 15px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        opacity: .8;
        padding: 10px 18px !important;
    }

    header ul.nav{
        background: #F6F6F6;
        padding: 5px 0 35px 0;
        border-top: 1px solid #E0E0E0 !important;
    }

    header ul.nav li {
        padding-right: 0px !important;
        border-bottom: 1px solid #E0E0E0 !important;
    }

    header ul.nav li:nth-child(3) {
        border-bottom: none !important;
    }

    .navbar-nav {
        margin: -11.5px -15px !important;
    }

        
}


    
/*-----------------*/

/*---- Footer -----*/

footer{
	background: #323131;
	padding: 20px 50px;
}

footer .img-logo{
	display: inline-block;	
}

footer .lists{
	display: inline-block;
}

footer .lists ul li a{
    color: #6a6a6a !important;
    font-weight: 600;
     font-family: Roboto;
}

footer .lists ul li a:hover{
    text-decoration: none !important;
}

footer ul.one,footer ul.two,footer ul.four{
    padding:30px 0;
}

footer ul.one li,footer ul.two li,footer ul.four li{
    padding:0 30px;
    margin: 20px 0;
}

footer ul.three{
    padding: 30px 50px;
}

footer ul.five{
    padding: 50px;
}

footer ul.three li a{
    font-size: 35px;
    padding: 5px;
}

@media only screen and (max-width: 999px){
    footer{
        padding: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    footer div > div{
        text-align: center !important;
    }

    .separator{
        border-right:none !important;
    }
}


.separator{
	border-right:1px solid #6a6a6a;
	height: 20px;
	display: inline;
}

/*----------------*/

/*------Custom-------*/

.img-5p{
	width: 5%;
}

.img-10p{
	width: 10%;
}

.img-20p{
	width: 20%;
}

.img-50p{
	width: 50%;
}

.img-60p{
	width: 60%;
}

.img-70p{
	width: 70%;
}

.img-80p{
	width: 80%;
}

.img-90p{
	width: 90%;
}

.img-full{
	width: 100%;
}

.block-section {
  padding: 100px 0;
}

.block-section-lg {
  padding: 140px 0;
}
.block-section-md {
  padding: 80px 0;
}

.block-section-sm {
  padding: 40px 0;
}
.block-section-xs {
  padding: 10px 0;
}

.bg-color1 {
  background-color: #ffffff;
}
.bg-color2 {
  background-color: #f5f5f5;
}

.no-padding{
	padding: 0 !important;
}

.no-padding-left{
	padding-left: 0;
}

.no-padding-right{
	padding-right: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.white-space-5 {
  height: 5px;
}
.white-space-10 {
  height: 10px;
}
.white-space-15 {
  height: 15px;
}
.white-space-20 {
  height: 20px;
}
.white-space-30 {
  height: 30px;
}
.white-space-40 {
  height: 40px;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}


.text-right{
	text-align: right;
}

.float-right{
	float: right;
}

.fixed-top{
	position: fixed;
	top: 0;
}

.fixed-top{
	position: fixed;
	bottom: 0;
}

.color-white {
  color: #ffffff !important;
}
.color-white-mute {
  color: #b9b9b9 !important;
}
.color-black {
  color: #000000 !important;
}

.color-gray {
  color: #555555 !important;
}

.color-gray-mute {
  color: #626262 !important;
}



/*OVERWRITE*/


.btn-blue{
	background: #17b08d;
    padding: 7px 55px !important;
    font-size: 14px !important; 
    font-family: 'Roboto-Bold' !important;
    font-weight: 100 !important;
    border-radius: 2px !important;
    color: #FFF !important;
}

.btn-blue:hover{
    background: transparent;
    border:1px solid #17b08d;
    color: #17b08d !important;
}

.btn-sky:hover{
    color: #FFF !important;
}

.navbar-toggle {
    margin-top: 10px !important;
    border: 1px solid transparent !important;
}

.navbar-toggle span{
    background: #DADADA !important;
    height: 3px !important;
}