/*----------------*/

@font-face {
    font-family: Museo Sans;
    src: url('../fonts/Museo Sans W01 Rounded 100.ttf')  format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf')  format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf')  format('truetype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Regular.otf')  format('truetype');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Regular.ttf')  format('truetype');
}

.home-v2{
    background: #F9F9F9 !important;
    color: #6b6e70 !important;
}

.home-v2 .chart-custom,.home-v2 .ul-chart{
    display: none;
}

.home-v2 .right-seven-wrapper{
    height: 500px;
}

.home-v2 .left-container,
.home-v2 .left-two-container,
.home-v2 .left-three-container,
.home-v2 .right-one-container,
.home-v2 .right-two-container,
.home-v2 .right-three-container,
.home-v2 .right-four-container,
.home-v2 .right-five-container,
.home-v2 .right-six-container,
.home-v2 .right-seven-container{
    background: #FFF;
    padding: 10px 15px;
    border-radius: 3px;
    /*border: 1px solid #EEE;*/
    /*box-shadow: 0 1px 8px rgba(0,0,0,0.2);*/
    min-height:200px;
    overflow: hidden;
}

.home-v2 .left-nav,
.home-v2 .right-container .right-bottom-nav{
    list-style-type: none;
    padding-left: 0px;
}

.home-v2 .left-nav li,
.home-v2 .right-container .right-bottom-nav li{
    margin: 3px 0;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background: #f5f5f5;
}

.home-v2 .left-nav li a,
.home-v2 .right-container .right-bottom-nav li a{
        color: #6b6e70;
}

.home-v2 .left-container .left-nav li a:hover,
.home-v2 .left-container .left-nav li a:focus,
.home-v2 .left-container .left-nav li.active a{
    background: #0E9F8F;
    color: #FFF;
    border-radius:3px; 
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.home-v2 .right-container .right-top-nav li a:hover,
.home-v2 .right-container .right-top-nav li a:focus,
.home-v2 .right-container .right-top-nav li.active a{
    background: #0E9F8F;
    color: #FFF;
    border-radius:3px; 
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.persona-nav{
    position: absolute;
    right: 40px;
}

.persona-nav li{
    margin: 10px 0;
}

.persona-nav span{
    padding: 0px 6px;
    margin-right: 5px;
}

.persona-nav li:nth-child(1) span{
    background: #4572A7;
}
.persona-nav li:nth-child(2) span{
    background: #AA4643;
}
.persona-nav li:nth-child(3) span{
    background: #89A54E;
}
.persona-nav li:nth-child(4) span{
    background: #71588F;
}

.content-planning-v3 .gallery .img-wrapper{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    min-height: 140px; 
    margin: 15px 0;
}


/*----------------*/
.capitaland{
    z-index: 10;
}

.capitaland .left-bar{
    background: #FFF;
    border-right: 1px solid #DBDBDB;
}

.capitaland .left-bar h4{
    background: #1A202A;
    margin-top: 0;
    padding: 10px;
    color: #FFF;
}

.capitaland .left-bar .locations-section .one{
    padding: 10px;
}

.capitaland .left-bar .locations-section .one p .badge{
    padding: 3px 15px;
}

.capitaland .left-bar .locations-section .two{
    background: #DBDBDB;
    padding: 10px;
}

.capitaland .left-bar .locations-section .two .btn:nth-child(1),
.capitaland .left-bar .locations-section .two .btn:nth-child(2){
    display: inline;
    width: 49%;
    border-radius: 0px;
}

.capitaland .left-bar .locations-section .two .btn:nth-child(3){
    margin-top: 10px;
    display: inline;
    width: 99%;
    border-radius: 0px;
}

.capitaland .left-bar .locations-section .one .btn{
    width: 60%;
}

.capitaland .left-bar .duration-section{
    padding-bottom: 10px;
}

.capitaland .left-bar .duration-section div.form-group,.capitaland .left-bar .duration-section div.form-inline{
    padding: 0 10px;
}


.capitaland .left-bar .duration-section div.form-group input{
    width: 49%;
    display: inline-block;
}

.capitaland .left-bar .duration-section div.form-inline .btn{
    width: 49%;
    border-radius: 0px;
}

.capitaland .left-bar .networks-section{
    padding-bottom: 10px;
}

.capitaland .left-bar .networks-section p{
    padding: 0 10px;
    font-weight: 600;
}

.capitaland .left-bar .networks-section p .badge{
    padding: 3px 15px;
    float: right;
}

.capitaland .left-bar .networks-section p i{
    padding: 5px 6px;
    font-size: 15px;
    color: #FFF;
    border-radius: 50%;
    margin-right: 10px;

}

.capitaland .left-bar .networks-section p i.fa-twitter{
    background: #4FA8E9;
}
.capitaland .left-bar .networks-section p i.fa-instagram{
    background: #C4B597;
}
.capitaland .left-bar .networks-section p i.fa-facebook-square{
    background: #395792;
}

.capitaland .summary{
    background: #FFF;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 250px;
}

.capitaland .summary .top{
    background: #FFF;
}

.capitaland .summary .bottom{
    background: #F1F1F1;
    height: 340px;
}

.capitaland .summary .tag-desc{
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 0;
    width: 100%;
    color: #FFF;
    margin: 0 auto;
    
}

.capitaland .summary .tag-desc p{
    text-align: center;
    height: 40px;
    font-size: 23px;
    margin: 0 0 10px 90px;
    width: 50%;
}

.capitaland .summary .drop-btn .btn,.capitaland .summary .drop-btn ul.dropdown-menu{
    min-width: 350px;
    text-align: left;
}

.capitaland .summary .drop-btn ul.dropdown-menu{
  padding: 0 10px;
}

.capitaland .summary .drop-btn span.caret{
    float: right;
    margin-top: 6px;
    border-top: 8px dashed;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.capitaland .summary .drop-btn span.tag{
    background: #31859C;
    padding: 5px 10px;
    border-radius: 2px;
    color: #FFF;
}


.capitaland .summary .bottom .percentage{
    position: relative;
    padding: 5px 0;
}

.capitaland .summary .bottom .percentage .per{
    background: #DBDBDB;
    padding: 10px;
    width: 45px;
    display: inline-block;
}

.capitaland .summary .bottom .summary-left-bar,.capitaland .summary .bottom .summary-right-bar{
    overflow: hidden;
}

.capitaland .summary .bottom .percentage  div.bar{
    text-align: center;
    color: #FFF;
    
}

.capitaland .summary .bottom .percentage  div.bar span{
    font-size: 23px;
}

.capitaland .summary .bottom .summary-left-bar .percentage  div.bar{
    background: #333;
    border-radius: 3px 0 0 3px;
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    margin-left: 55px;
}

.capitaland .summary .bottom .summary-right-bar .percentage  div.bar{
    background: #333;
    border-radius: 0px 3px 3px 0;
    position: absolute;
    /*left: 0px;*/
    right: 50px;
    top: 5px;
    height: 40px;
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    margin-right: 55px;
}

.capitaland .summary .bottom .summary-left-bar .percentage:nth-child(2)  div.bar,
.capitaland .summary .bottom .summary-right-bar .percentage:nth-child(2)  div.bar{
    background: #31859C;
}

.capitaland .summary .bottom .summary-left-bar .percentage:nth-child(3)  div.bar,
.capitaland .summary .bottom .summary-right-bar .percentage:nth-child(3)  div.bar{
    background: #5FB5CD;
}

.capitaland .summary .bottom .summary-left-bar .percentage:nth-child(4)  div.bar,
.capitaland .summary .bottom .summary-right-bar .percentage:nth-child(4)  div.bar{
    background: #93CDDD;
}

.capitaland .summary .bottom .summary-left-bar .percentage:nth-child(5)  div.bar,
.capitaland .summary .bottom .summary-right-bar .percentage:nth-child(5)  div.bar{
    background: #93CDDD;
}



.capitaland .summary .bottom .percentage span:nth-child(2){
    background: transparent;
    position: absolute;
    right: 0;
    top: -4px;
}


.capitaland .summary .stats .section{
    display: inline-block;
    margin: 0px 8px 0 0;
}

.capitaland .summary .stats .section > p{
    font-size: 12px;
}

.capitaland .summary .top .col-md-4{
    padding: 15px 5px 10px 5px;
}


.capitaland .graph-section #comp-bar-graph .svg-container{
    margin: 0 auto;
}

/*----------------*/

.capitaland2{
    z-index: 10;
}

.capitaland2 .left-bar{
    background: #FFF;
    border-right: 1px solid #DBDBDB;
}

.capitaland2 .left-bar h4{
    background: #1A202A;
    margin-top: 0;
    padding: 10px;
    color: #FFF;
}

.capitaland2 .left-bar .locations-section .one{
    padding: 10px;
}

.capitaland2 .left-bar .locations-section .one p .badge{
    padding: 3px 15px;
}

.capitaland2 .left-bar .locations-section .two{
    background: #DBDBDB;
    padding: 10px;
}

.capitaland2 .left-bar .locations-section .two .btn:nth-child(1),
.capitaland2 .left-bar .locations-section .two .btn:nth-child(2){
    display: inline;
    width: 48%;
    border-radius: 0px;
}

.capitaland2 .left-bar .locations-section .two .btn:nth-child(3){
    margin-top: 10px;
    display: inline;
    width: 99%;
    border-radius: 0px;
}

.capitaland2 .left-bar .locations-section .one .btn{
    width: 60%;
}

.capitaland2 .left-bar .duration-section{
    padding-bottom: 10px;
}

.capitaland2 .left-bar .duration-section div.form-group,.capitaland2 .left-bar .duration-section div.form-inline{
    padding: 0 10px;
}


.capitaland2 .left-bar .duration-section div.form-group input{
    width: 48%;
    display: inline-block;
}

.capitaland2 .left-bar .duration-section div.form-inline .btn{
    width: 48%;
    border-radius: 0px;
}

.capitaland2 .left-bar .networks-section{
    padding-bottom: 10px;
}

.capitaland2 .left-bar .networks-section p{
    padding: 0 10px;
    font-weight: 600;
}

.capitaland2 .left-bar .networks-section p .badge{
    padding: 3px 15px;
    float: right;
}

.capitaland2 .left-bar .networks-section p i{
    padding: 5px 6px;
    font-size: 15px;
    color: #FFF;
    border-radius: 50%;
    margin-right: 10px;

}

.capitaland2 .left-bar .networks-section p i.fa-twitter{
    background: #4FA8E9;
}
.capitaland2 .left-bar .networks-section p i.fa-instagram{
    background: #C4B597;
}
.capitaland2 .left-bar .networks-section p i.fa-facebook-square{
    background: #395792;
}

.capitaland2 .summary{
    background: #FFF;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 250px;
}

.capitaland2 .summary .top{
    background: #FFF;
}

.capitaland2 .summary .bottom{
    background: #F1F1F1;
    height: 340px;
}

.capitaland2 .summary .tag-desc{
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 0;
    width: 100%;
    color: #FFF;
    margin: 0 auto;
    
}

.capitaland2 .summary .tag-desc p{
    text-align: center;
    height: 40px;
    font-size: 23px;
    margin: 0 0 10px 90px;
    width: 50%;
}

.capitaland2 .summary .drop-btn .btn,.capitaland2 .summary .drop-btn ul.dropdown-menu{
    min-width: 350px;
    text-align: left;
}

.capitaland2 .summary .drop-btn ul.dropdown-menu{
  padding: 0 10px;
}

.capitaland2 .summary .drop-btn span.caret{
    float: right;
    margin-top: 6px;
    border-top: 8px dashed;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.capitaland2 .summary .drop-btn span.tag{
    background: #31859C;
    padding: 5px 10px;
    border-radius: 2px;
    color: #FFF;
}


.capitaland2 .summary .bottom .percentage{
    position: relative;
    padding: 5px 0;
}

.capitaland2 .summary .bottom .percentage .per{
    background: #DBDBDB;
    padding: 10px;
    width: 45px;
    display: inline-block;
}

.capitaland2 .summary .bottom .summary-left-bar,.capitaland2 .summary .bottom .summary-right-bar{
    overflow: hidden;
}

.capitaland2 .summary .bottom .percentage  div.bar{
    text-align: center;
    color: #FFF;
    
}

.capitaland2 .summary .bottom .percentage  div.bar span{
    font-size: 23px;
}

.capitaland2 .summary .bottom .summary-left-bar .percentage  div.bar{
    background: #333;
    border-radius: 3px 0 0 3px;
    position: absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    margin-left: 55px;
}

.capitaland2 .summary .bottom .summary-right-bar .percentage  div.bar{
    background: #333;
    border-radius: 0px 3px 3px 0;
    position: absolute;
    /*left: 0px;*/
    right: 50px;
    top: 5px;
    height: 40px;
    width: 100%;
    display: inline-block;
    padding-top: 5px;
    margin-right: 55px;
}

.capitaland2 .summary .bottom .summary-left-bar .percentage:nth-child(2)  div.bar,
.capitaland2 .summary .bottom .summary-right-bar .percentage:nth-child(2)  div.bar{
    background: #31859C;
}

.capitaland2 .summary .bottom .summary-left-bar .percentage:nth-child(3)  div.bar,
.capitaland2 .summary .bottom .summary-right-bar .percentage:nth-child(3)  div.bar{
    background: #5FB5CD;
}

.capitaland2 .summary .bottom .summary-left-bar .percentage:nth-child(4)  div.bar,
.capitaland2 .summary .bottom .summary-right-bar .percentage:nth-child(4)  div.bar{
    background: #93CDDD;
}

.capitaland2 .summary .bottom .summary-left-bar .percentage:nth-child(5)  div.bar,
.capitaland2 .summary .bottom .summary-right-bar .percentage:nth-child(5)  div.bar{
    background: #93CDDD;
}



.capitaland2 .summary .bottom .percentage span:nth-child(2){
    background: transparent;
    position: absolute;
    right: 0;
    top: -4px;
}


.capitaland2 .summary .stats .section{
    display: inline-block;
    margin: 0px 8px 0 0;
}

.capitaland2 .summary .stats .section > p{
    font-size: 12px;
}

.capitaland2 .summary .top .col-md-4{
    padding: 15px 5px 10px 5px;
}


.capitaland2 .graph-section #comp-bar-graph .svg-container{
    margin: 0 auto;
}

.search-nav-btn-custom{
    background: #283342;
    border-bottom: 1px solid #283342;
    padding-right: 10px;
}

.search-nav-btn-custom a{
    background: #0D9F8F;
    border-radius: 3px;
}


#searchModal .modal-wrapper{
    min-height: 300px;
}

#searchModal .modal-content{
    margin-top:80px;
}

#searchModal #search-tabs li a{
    color: #333;
}

/*-----------------------*/

.mockup-v3 .left-bar{
    min-height: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: #273341;
    overflow-y: auto;
}

.mockup-v3 .left-bar ul h4{
    color: #CCC;
    font-weight: 600;
    padding: 10px 15px;
}

.mockup-v3 .left-bar ul li a{
    color: #CCC;
}

.mockup-v3 .left-bar ul li a.active i{
    transform: rotate(90deg);
}

.mockup-v3 .left-bar ul li a.icon-right i{
    float: right;
    margin-right: 10px;
}

.mockup-v3 .left-bar ul li.drop ul.nav{
    margin-bottom: 15px;
}

.mockup-v3 .left-bar ul li.drop ul.nav li{
    background: #212837;
    border-bottom: 2px solid #293141; 
}

.mockup-v3 .left-bar ul li.drop ul.nav li a,
.mockup-v3 .left-bar ul li.drop ul.nav li a i{
    font-size: 11px !important;
    color: #EEE;
}

.mockup-v3 .right-content{
    position: fixed;
    left: 228px;
}

/*---------------------*/

.socialListening_mockup-v3{
    
}



.socialListening_mockup-v3 .nav-inline li.active a{
    /*background: #53585E;*/
    /*color: #ECF0F1;*/
    border-bottom: 3px solid #18B08D;
    transition: all .5ms ease-in-out;
}

.socialListening_mockup-v3 .nav-inline li a{
    color: #53585E;
    font-weight: 600;
    font-size: 16px;
}

.socialListening_mockup-v3 .social-left-side{
    background: #293141;
    border-right: 1px solid #DBDBDB;
    color: #D9D9CF;
    min-height: 100%;
    height: 100%;
    position: fixed;
}

.socialListening_mockup-v3 .social-left-side h3{
    color: #D9D9CF;
    font-weight: 600;
    font-size: 20px;
}

.socialListening_mockup-v3 .social-right-side{
    position: relative;
    left: 225px;
}

.socialListening_mockup-v3 #insight{
    left: -84%;
    position: fixed;
}

.socialListening_mockup-v3 #insight.social-right-side{
    background: rgba(255,255,255,.8) ;
}
    

.socialListening_mockup-v3 .social-right-side .social-image-container{
    position: relative;
    overflow: hidden;
    height: 235px;
    background-position: center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    margin: 0 10px;
    margin-top: 15px;
}


.socialListening_mockup-v3 .social-right-side .social-image-container .status{
    /*background: rgba(68,68,68,.7);*/
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
}

.socialListening_mockup-v3 .social-right-side .social-image-container #good.status{
    background: rgba(76,175,80,.3);
}
.socialListening_mockup-v3 .social-right-side .social-image-container #bad.status{
    background: rgba(221,44,0,.3);
}

.socialListening_mockup-v3 .social-right-side .social-image-container .status p{
    margin: 0;
}

.socialListening_mockup-v3 #main.social-right-side .social-image-container h2{
    font-family: Roboto-Bold;
    text-transform: uppercase;
    font-size: 30px;
}

.socialListening_mockup-v3 #family.social-right-side .social-image-container h2{
    font-size: 25px;
}

.socialListening_mockup-v3 #family.social-right-side .social-image-container a{
    color: #FFF;
}



.socialListening_mockup-v3 .social-right-side .social-image-container .info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    color: #FFF;
    /*background: rgba(68,68,68,.7);*/
}

.socialListening_mockup-v3 .overlay{
    background: rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}

.socialListening_mockup-v3 #family .overlay{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
}

.socialListening_mockup-v3 #family .arrow-right{
    position: absolute;
    top: 50%;
    right: 0;
}

.socialListening_mockup-v3 .p0_pieChart > g > path{
    stroke: none !important;
}

.socialListening_mockup-v3 #analytics .white-section-wrapper h4{
    border-bottom: 2px solid #18B08D;
    padding-bottom: 5px;
}

.socialListening_mockup-v3 #analytics .row_object{
    margin: 5px 0;
}

.socialListening_mockup-v3 #analytics .section-wrapper{
    background: #ECF0F1;
    border: 1px solid #E5E6E6;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
}

.socialListening_mockup-v3 #analytics .white-section-wrapper{
    background: #FFF;
    /*border: 1px solid #E5E6E6;*/
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.socialListening_mockup-v3 #analytics .section-wrapper .status{
    background: rgba(0,0,0,.3);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.socialListening_mockup-v3 #analytics .section-wrapper .status p{
    padding: 7px 10px;
    margin: 0;
}

.socialListening_mockup-v3 #analytics .section-wrapper .section-img-wrapper .status p{
    padding: 5px;
    margin: 0;
}


.socialListening_mockup-v3 #analytics .section-img-wrapper{
    position: relative;
    overflow: hidden;
    height: 176px;
    background-position: center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
}

.socialListening_mockup-v3 #analytics .section-main-img-wrapper{
    height: 235px;
}

/*---------------------------*/


.content-planning-v3 .content-section-wrapper{
    background: #fff;
    margin: 10px 10px 10px 0;
} 

.content-planning-v3 .content-section-wrapper .content-img-wrapper{
    position: relative;
} 

.content-planning-v3 .content-section-wrapper .content-img-wrapper .info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    color: #FFF;
} 

.content-planning-v3 .content-section-wrapper .content-img-wrapper .desc{
    position: absolute;
    top: 25%;
    width: 100%;
    color: #FFF;
    text-align: center;
} 

.content-planning-v3 .content-section-wrapper .content-img-wrapper .desc h3{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
} 

.content-planning-v3 .content-section-wrapper > p{
    border-top: 2px solid #B6D99F;
    margin-top: 10px;
    padding: 10px 5px;
} 

.content-planning-v3 .nav-content li a{
    padding: 5px 35px !important;
    font-size: 18px;
    color: #FFF;
} 

.content-planning-v3 .nav-content li:nth-child(1) a{
    background: #FE2D88;
} 

.content-planning-v3 .nav-content li:nth-child(2) a{
    background: #3F709F;
} 

.content-planning-v3 .nav-content li:nth-child(3) a{
    background: #CB1C11;
} 

.content-planning-v3 .nav-content li:nth-child(4) a{
    background: #28A7E0;
} 

.clarifai-custom table thead th{
    border-bottom: 3px solid #666;
}

.clarifai-custom table tbody tr td:nth-child(3) img{
    border:1px solid #DBDBDB;
    border-radius: 3px;
    margin: 5px 8px;
}

/*------Custom-------*/

.font-12{
    font-size: 12px;
}

.overlay-5{
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    position: absolute;
}

.img-5p{
	width: 5%;
}

.img-10p{
	width: 10%;
}

.img-20p{
	width: 20%;
}

.img-30p{
    width: 30%;
}

.img-40p{
    width: 40%;
}

.img-50p{
	width: 50%;
}

.img-60p{
	width: 60%;
}

.img-70p{
	width: 70%;
}

.img-80p{
	width: 80%;
}

.img-90p{
	width: 90%;
}

.img-full{
	width: 100%;
}

.img-inline{
    display: inline-block;
}

.block-section {
  padding: 100px 0;
}

.block-section-lg2 {
  padding: 200px 0;
}

.block-section-lg {
  padding: 140px 0;
}
.block-section-md {
  padding: 80px 0;
}

.block-section-sm {
  padding: 40px 0;
}
.block-section-xs {
  padding: 10px 0;
}

.bg-color1 {
  background-color: #ffffff;
}
.bg-color2 {
  background-color: #f5f5f5;
}

.no-padding{
	padding: 0 !important;
}

.no-padding-left{
	padding-left: 0;
}

.no-padding-right{
	padding-right: 0;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.white-space-5 {
  height: 5px;
}
.white-space-10 {
  height: 10px;
}
.white-space-15 {
  height: 15px;
}
.white-space-20 {
  height: 20px;
}
.white-space-30 {
  height: 30px;
}
.white-space-40 {
  height: 40px;
}

.white-space-40p {
  height: 40%;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}


.text-right{
	text-align: right;
}

.float-right{
	float: right;
}

.fixed-top{
	position: fixed;
	top: 0;
}

.fixed-top{
	position: fixed;
	bottom: 0;
}

.color-white {
  color: #ffffff !important;
}
.color-white-mute {
  color: #b9b9b9 !important;
}
.color-black {
  color: #000000 !important;
}

.color-gray {
  color: #555555 !important;
}

.color-gray-mute {
  color: #626262 !important;
}

.nav-inline li{
    display: inline-block;
}

.border-right{
    border-right: 1px solid #CCC;
}

.border-bottom{
    border-bottom: 1px solid #CCC;
}

.text-underline{
    text-decoration: underline;
}


/*OVERWRITE*/


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none !important;
    border-bottom-color: transparent;
    border-bottom:2px solid #1BBC9B;
}

.nav-tabs > li > a:hover {
    border-color: none !important;
}

.nav-tabs > li.active {
    transition: none !important;
    border-bottom: 5px solid #1BBC9B;
    background-color: white;
}

