.influencers-v2{
	padding: 30px 65px;
	background: #F8F8F8;
	margin-bottom: 150px;
}

.influencers-v2 table{
	border-radius: 2px;
    border-left: 1px solid #F0F0F0;
    box-shadow: 1px 2px 1px #BBB;
}


.influencers-v2 table tr td{
	vertical-align: middle;
}

.influencers-v2 table tr td>p:nth-child(1){
	font-weight: 600;
}

.influencers-v2 table .table-icon{
	background: #DBDBDB;
	padding: 5px;
	border-radius: 50%;
	margin-right: 5px;
}

.influencers-v2 table .table-icon-hash{
    padding: 6px 6.7px !important;
	font-size: 12px;
}

.influencers-v2 table > thead > tr {
    background: #283342;
    color: #FFF;
}

.influencers-v2 table > tbody > tr:nth-child(odd) {
    background: white!important;
}

.influencers-v2 table > tbody > tr:nth-child(even) {
    background: #F9F9F9!important;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper{
	background: #FFF;
	border:1px solid #E0E0E0;
	border-radius: 2px;
	padding-bottom: 15px;
}

.influencers-v2 .influencer-content-wrapper .influencer{
	padding: 0 20px 0 0;
}

.influencers-v2 .nav-pills > li > a{
    padding: 5px 15px;
    font-weight: 600;
}

.influencers-v2 .nav-pills > li > a:hover{
    background: #DDD;
    border-radius: 3px;
}

.influencers-v2 .nav-pills > li.active > a{
    background-color: #DDD;
    border-top: #DDD;
    padding: 6.5px 15px;
    border-radius: 3px;
    color: #333;
}


.influencers-v2 .influencer-content-wrapper .ig-wrapper .ig-img{
	height: 100px;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .ig-pp{
	height: 35px;
	position: relative;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .ig-pp img{
	position: absolute;
	top:-25px;
	left: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #FFF; 
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .ig-pp p{
	margin: 3px 0 0 60px;
    font-size: 18px;
    font-weight: 600; 
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .details .stats{
	color: #333;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div{
	padding: 0 8px 0 0;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div p:nth-child(1){
	font-size: 10px;
	font-weight: 600;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div p:nth-child(2){
	font-size: 12px;
	font-weight: 600;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .tags{
    display: inline-block;
    color: #FFF;
    font-weight: 600;
    font-size: 11px;
    background: #A2BED3;
    padding: 3px 3px;
    border-radius: 2px;
    margin: 2px 0;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .my-audiences a{
    color: #333;
    font-size: 11px;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .my-audiences a i{
    margin-right: 5px;
    font-size: 14px;
}

.influencers-v2 .influencer-content-wrapper .ig-wrapper .my-audiences a:hover{
    text-decoration: underline;
}

.influencers-v2 .talking-content-wrapper .talk{
    padding: 0 15px 0 0;
}

.influencers-v2 .talking-content-wrapper .talking{
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    position: relative;
}

.influencers-v2 .talking-content-wrapper .talking h5{
    font-weight: 700;
}

.influencers-v2 .talking-content-wrapper .talking-content{
    position: relative;
    text-align: center;
}

.influencers-v2 .talking-content-wrapper .talking-content img{
    display: inline-block;
    width: 85px;
    height: 85px;
    margin: 0 !important;
    padding: 0 !important;
}
    

@media only screen and ( min-width:990px ){
	.influencers-v2 .influencer-content-wrapper .ig-wrapper{
		float: left;
	}

	.influencers-v2 .talking-content-wrapper .talking{
	    float: left;
	}

	.influencers-v2 .audience-insights .crumbs:nth-child(1){
		margin-left: 0px;
	}

	.influencers-v2 .audience-insights .crumbs:nth-child(8){
		margin-right: 0px;
	}
}
