

.top-content-wrapper{
	background: #FFF;
	padding: 20px;
	/*margin: 10px 0;*/
	overflow: hidden;
	box-shadow: 1px 1px 1px #BBB;;
}

.top-content-wrapper .box-info{
    margin: 20px 0;
    text-align: center;
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
}

.top-content-wrapper .box-info p:nth-child(1){
	font-size: 23px ;
}

.top-content-wrapper .box-info p:nth-child(2){
	color: #172430;
}

.one-bottom-wrapper{
	padding: 20px;
}

.one-left-wrapper{
    background: #FFF;
    padding: 10px;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 1px 1px #DBDBDB;
    color: #777;
    transition: none !important;
}



.one-left-wrapper p:nth-child(1){
    color: #999;
    font-weight: 600;
    margin-bottom:20px; 
}

.one-right-wrapper{
    background: #FFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 1px 1px #DBDBDB;
    color: #777;
    padding:0;
}

.one-right-wrapper .img-wrapper{
    background-size: 100%;
    height: 170px;
    width: 100%;
}
.one-right-wrapper .details{
	background: #FFF;
    /*height: 100px;*/
    padding: 20px 10px;
    overflow: hidden;
}

.one-right-wrapper .details .detail-info p:nth-child(2){
	font-weight: 600;
}

.one-right-wrapper .details .tags{
	padding: 2px 5px;
	display: inline-block;
	background: #A9ADB6;
	border-radius: 3px;
	color: #F1F1F1;
    font-family: 'ProximaNova-Regular';
}

.one-right-wrapper .img-blur{
    
    height: inherit;
    width: inherit;
    background: rgba(0,0,0,.5);
    z-index: 10;
   /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}

.one-right-wrapper .img-wrapper .img-detail{
    
    position: absolute;
    text-align: center;
    top:20%;
    left: 0;
    right: 0;
    color: #FFF;
    font-size: 18px;
}

.one-right-wrapper .img-wrapper .img-detail>img{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #F1F1F1;
}

.top-content-wrapper-fix {
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 45px 80px 90px 80px !important;
    background: #EEE;
    transition: none !important;
}

.one-left-wrapper-fix {
    position: fixed;
    top: 304px;
    width: 43.4%;
    transition: none !important;
}

.one-right-fix {
    margin-bottom: 250px
}

.one-right-wrapper-fix {
    position: relative;
    top: 230px;
    transition: none !important;
}

.influencer-title-fix {
    position: fixed;
    top: 304px;
    transition: none !important;
    z-index: 10;
}


@media only screen and ( min-width: 990px ){
	.top-content-wrapper{
		padding: 10px 75px 0 75px;
	}

	.one-left-wrapper{
		margin-top: 40px;
	}

	.one-bottom-wrapper{
		padding: 30px 75px;
	}
}

@media only screen and ( max-width: 990px ){
	.one-right{
		margin-top: 20px;
	}
}