.audience-custom-wrap .audience-insights{
	background: #FFF;
	padding: 0;
}

.audience-custom-wrap .audience-insights .crumbs{
	display: inline-block;
	margin: 10px 18px;
	text-align: center;
}

.audience-custom-wrap .audience-insights .crumbs p{
    font-weight: 700;
    font-size: 12px;
}

.audience-custom-wrap .interest-influ{
	background: #F8F8F8;
	padding: 30px 65px;
}

.audience-custom-wrap .interest-content-wrapper{
	border:1px solid #E0E0E0;
	border-radius: 2px;
}






.predict-result-v2 .audience-insights{
	background: #FFF;
	padding: 30px 65px;
}

.predict-result-v2 .audience-insights .crumbs{
	display: inline-block;
	margin: 10px 18px;
	text-align: center;
}

.predict-result-v2 .audience-insights .crumbs p{
    font-weight: 700;
    font-size: 12px;
}

.predict-result-v2 .interest-influ{
	background: #F8F8F8;
	padding: 30px 65px;
}

.predict-result-v2 .interest-content-wrapper{
	border:1px solid #E0E0E0;
	border-radius: 2px;
}

.predict-result-v2 .interest-content-wrapper .interests:nth-child(odd){
	background: #FBFBFB ;
}

.predict-result-v2 .interest-content-wrapper .interests:nth-child(even){
	background: #F5F5F5 ;
}

.predict-result-v2 .interest-content-wrapper .interests .details{
	color: #444;
	background: #EEE;
	border-radius: 4px;
	padding: 0 5px;
	position: relative;
}

.predict-result-v2 .interest-content-wrapper .interests .details p{
	line-height: 1.7;
}

.predict-result-v2 .interest-content-wrapper .interests .details .tri{
    position: absolute;
    top: 7px;
    right: -4px;
    background: #EEE;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

.predict-result-v2 .interest-content-wrapper .interests .interest-info .data{
    color: #FFF;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 600;
    line-height: 1.7;
}

.predict-result-v2 .interest-content-wrapper .interests .interest-info:nth-child(1) .data{
	background: #28C28E;
}

.predict-result-v2 .interest-content-wrapper .interests .interest-info:nth-child(2) .data{
	background: #7E98B9;
}

.predict-result-v2 .interest-content-wrapper .interests .interest-info:nth-child(3) .data{
	background: #A2BED3;
}

.predict-result-v2 .interest-content-wrapper .interests .interest-info:nth-child(4) .data{
	background: #A4B8D0;
}


.predict-result-v2 .influencer-content-wrapper .ig-wrapper{
	background: #FFF;
	border:1px solid #E0E0E0;
	border-radius: 2px;
	padding-bottom: 15px;
}

.predict-result-v2 .influencer-content-wrapper .influencer{
	padding: 0 20px 0 0;
}

.predict-result-v2 .nav-pills > li > a{
    padding: 5px 15px;
    font-weight: 600;
}

.predict-result-v2 .nav-pills > li.active > a{
    background-color: #DDD;
    border-top: #DDD;
    border-radius: 3px;
    color: #333;
}


.predict-result-v2 .influencer-content-wrapper .ig-wrapper .ig-img{
	height: 100px;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .ig-pp{
	height: 35px;
	position: relative;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .ig-pp img{
	position: absolute;
	top:-25px;
	left: 10px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #FFF; 
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .ig-pp p{
	margin: 3px 0 0 60px;
    font-size: 18px;
    font-weight: 600; 
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .details .stats{
	color: #333;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div{
	padding: 0 8px 0 0;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div p:nth-child(1){
	font-size: 10px;
	font-weight: 600;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .details .stats>div p:nth-child(2){
	font-size: 12px;
	font-weight: 600;
}

.predict-result-v2 .influencer-content-wrapper .ig-wrapper .tags{
    display: inline-block;
    color: #FFF;
    font-weight: 600;
    font-size: 12px;
    background: #A2BED3;
    padding: 3px 5px;
    border-radius: 2px;
}

.predict-result-v2 .talking-content-wrapper .talk{
    padding: 0 15px 0 0;
}

.predict-result-v2 .talking-content-wrapper .talking{
    background: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    position: relative;
}

.predict-result-v2 .talking-content-wrapper .talking h5{
    font-weight: 700;
}

.predict-result-v2 .talking-content-wrapper .talking-content{
    position: relative;
    text-align: center;
}

.predict-result-v2 .talking-content-wrapper .talking-content img{
    display: inline-block;
    width: 85px;
    height: 85px;
    margin: 0 !important;
    padding: 0 !important;
}
    

@media only screen and ( min-width:990px ){
	.predict-result-v2 .influencer-content-wrapper .ig-wrapper{
		float: left;
	}

	.predict-result-v2 .talking-content-wrapper .talking{
	    float: left;
	}

	.predict-result-v2 .audience-insights .crumbs:nth-child(1){
		margin-left: 0px;
	}

	.predict-result-v2 .audience-insights .crumbs:nth-child(8){
		margin-right: 0px;
	}
}
