body {
	background: #ECF0F1;
}
.btn-yellow {
	background: #f1c42c;
}
.reply-btn {
	margin-top: 10px;
}
.panel-default>.panel-heading {
	background: #17a085 !important;
	color: #fff;
	border-radius: 3px;
}
.panel-group {
    border: 2px solid #229f85;
    border-radius: 4px;
}
.panel-group .panel:not( :last-child ) {
    border-bottom: none;
} 
.panel-group .panel+.panel {
    margin-top: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	padding: 0;
}
.panel-body ul li {
    padding: 5px 10px;
    overflow: hidden;
}
.panel-body ul li a {
	color: #ABB7C1;
    font-size: 13px;
	text-decoration: none;
	-moz-transition: all 0.7s ease; /* Firefox */
	-webkit-transition: all 0.7s ease; /* WebKit */
	-o-transition: all 0.7s ease; /* Opera */
	transition: all 0.7s ease; /* Standard */	
}
.panel-body ul li a:hover {
	color: #000;
}
.panel-title > a {
	font-size: 15px;	
	text-decoration: none;
} 
.panel-title > a i {
	-moz-transition: all 0.7s ease; /* Firefox */
	-webkit-transition: all 0.7s ease; /* WebKit */
	-o-transition: all 0.7s ease; /* Opera */
	transition: all 0.7s ease; /* Standard */
}
.sub-content-wrapper {
    width: 100%;
    background: #fff;
    border: 2px solid #C8CED1;
    border-radius: 4px;
    min-height: 500px;
}
.rotate {
	-moz-transform: rotate(90deg); 		/* Firefox */
	-webkit-transform: rotate(90deg); 	/* WebKit */
	-o-transform: rotate(90deg); 			/* Opera */
	transform: rotate(90deg);		 		/* Standard */
}