.content_right {
    position: relative;
    left: 225px;
    background: #EBEBEB;
    min-height: 100%;
}

.header-container{
    position: fixed;
    width: 85%;
    z-index: 999;
}

.micro-influencer .header-container{
    position: relative;
    width: 100%;
    z-index: 999;
}

.row_heading {
	background: #1BBC9B;
    overflow: hidden;
    padding: 15px;
    /*margin-top: 20px;*/
}
.row_heading h1 {
	font-size: 24px;
    margin: 0;
    color: #fff;
}
.row_heading h1 span {
	font-size: 17px;
    margin-left: 18px;
}
.row_links {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px #DBDBDB;
}

.row_contents{
    padding-top: 125px;
}

.micro-influencer .row_contents{
    padding-top: 0px;
}

.content-planning-v3 .row_contents,
.brands-v3 .row_contents{
    padding-top: 70px;
}
.link_list {
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
}
.link_list li {
    display: inline-block;
    float: left;
    /*text-transform: uppercase;*/
    font-size: 16px;
    position: relative;
}

.link_list li .caret-up {
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    background: #FFF;
    position: absolute;
    bottom: -5px;
    display: none;
}

.link_list li a {
	color: #5A5959;
    padding: 15px;
    text-decoration: none;
    float: left;
}
.link_list li.active a,
.link_list li a:hover {
    color: #fff;
    padding: 15px;
    background: #51E3CA;
    float: left;
}
.search_list_panel {
    padding: 10px;
    background: #EEEEEE;
    margin-top: 20px;
}
.search_list_panel h3 {
    margin: 0;
    font-size: 21px;
    color: #AEAEAE;
}
.search-btns {
    margin-top: 15px;
}
.search-btns .btn {
    margin-bottom: 5px;
}
.row_list {
    padding: 10px;
}
.row_list:nth-child(odd) {
    background: #F8F8F8;
}
.row_list:nth-child(even) {
    background: #F3F3F3;
}
.list-panel {
    max-height: 380px;
    overflow-y: scroll;
}
.icon-profile {
    display: flex;
    align-items: center;
}
.icon-profile > * {
    float: left;
}

.icon-profile > .img-wrapper > img {
    width: 15%;
    display: inline-block;
    margin-left: 25px;
}
.icon-profile > *:not(:first-child) {
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.data_cell {
    font-weight: bold;
}

.analytics-section .img-wrapper > * {
    float: left;
    display: inline-block;
}
.analytics-section .img-wrapper img {
    width: 37px;
}
.desc {
    margin-left: 12px;
    display: inline-block;
}
.account {
    font-size: 12px;
}
.desc-list {
    font-size: 9px;
    color: #666875;
}
.panel-box {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    /*border: 1px solid #BEBEBE;*/
    border-radius: 6px;
    box-shadow: 3px 3px 1px #DBDBDB;
}
.panel-box .panel-content .panel_data {
    padding: 0;
    overflow: hidden;
}
.panel-box .panel-content {
    margin-bottom: 13px;
}
.panel-title label {
    margin: 0;
}
.panel-title {
    /*background: #DEE5F2;*/
    padding: 10px;
}

.listings-panel{
    background: #FFF;
}

.panel_title {
    padding: 0 0 5px;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 10px;
}
.panel_title .nav-justified > li > a {
    padding: 0;
}
.panel_title * {
    margin: 0;
}
.panel_data {
    overflow: hidden;
}
.data_row {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 9px
}
.data_row > * {
    float: left;
    overflow: hidden;
    margin-right: 7px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.data_row .location-name{
    margin-right: 10px;
}

.data_row .location-name span{
    margin-top: 8px;
}

.data_row i {
    font-size: 40px;
}

.data_row .icon-marker {
    color: #1081E0;
    font-size: 25px;
}
.data_row .counter {
    float: right;
    margin-top: 8px;
}
.row_object {
    float: left;
    width: 100%;
    /*margin-bottom: 5px;*/
}

.row_object2 {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}


.row_object .object_name,
.row_object2 .object_name {
    width: 90px;
    float: left;
}
.row_object .progress,
.row_object2 .progress {
    margin: 0;
    text-align: center;
    position: relative;
}

.row_object .progress .progress-bar,
.row_object2 .progress .progress-bar{
    line-height: 1;
    position: absolute;
}

.row_object .progress span,
.row_object2 .progress span {
    color: #000;
}

.brandVbrand .row_object .object_name,
.brandVbrand .row_object2 .object_name {
    font-size: 12px;
    line-height: 1;
}


.brandVbrand .row_object .progress,
.brandVbrand .row_object2 .progress {
    margin: 0;
    height: 12px !important;
    line-height: .7;
    text-align: center;
    position: relative;
}

.brandVbrand .row_object .progress .progress-bar,
.brandVbrand .row_object2 .progress .progress-bar{
    line-height: 1;
    position: absolute;
}

.brandVbrand .row_object .progress span,
.brandVbrand .row_object2 .progress span{
    font-size: 10px;
}

#obj-cloud > * {
    float: left;
    margin: 0;
}
.box-content {
    padding: 10px 5px;
    border: 1px solid #BFBFBF;
    border-width: 0 1px;
}
.title-sm {
    font-size: 9px;
    font-weight: 700;
}
.counter-num {
    font-size: 20px;
    font-weight: 800;
}
.content-affinity .object_name {
    font-size: 11px;
}

.fullwidth {
    width: 100%;
}
.row_post {
    margin-bottom: 20px;
}
.post-heading {
    display: flex;
    align-items: center;
}
.post-heading > * {
    float: left;
}
.profile-info {
    margin: 0 10px;
}
.profile-info > * {
    margin: 0;
    display: block;
}
.profile-info small {
    color: #828282;
    font-size: 10px;
}
.tag {
    font-size: 11px;
    border-radius: 0;
}
.btn-green {
    background: #00B7ED;
    color: #fff;
}
.btn-blue {
    background: #51E3CA;
    color: #fff;
}

.post_list_wrapper{
    padding-right: 20px;
}

.post-content {
    margin-top: 22px;
}
.post-article {
    font-size: 13px;
    text-align: justify;
}
.gallery-title22 h5 {
    font-size: 18px;
}
.imgs-collage {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgs-collage2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 0px;
}

.imgs-collage .stat,
.imgs-collage2 .stat{
    position: absolute;
    bottom: 0;
    left: 5px;
    z-index: 10;
}

.imgs-collage img,
.imgs-collage2 img {
    width: 100%;
} {
    width: 100%;
}
.collage-col {
    margin-bottom: 15px;
    padding: 15px 25px;
}


/*----------------*/

.wheel-nav{
    position: absolute;
    right: 10px;
    top: 40px;
}

.wheel-nav li > div{
    padding: 3px 7px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

.wheel-nav li{
    font-size: 10px;
}

.wheel-nav li h5{
    margin-left: 20%;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    font-size: 12px !important;
}

.wheel-nav li:nth-child(1) div{
    background: #24C28D;
}
.wheel-nav li:nth-child(2) div{
    background: #EACD5F;
}
.wheel-nav li:nth-child(3) div{
    background: #6CD2D6;
}
.wheel-nav li:nth-child(4) div{
    background: #6CD2D6;
}

.wheel-nav li:nth-child(5) div{
    background: #7B9AB6;
}

.persona-nav2{
    position: absolute;
    right: 40px;
    top: 45px;
}

.persona-nav2 li > div{
    padding: 5px 7px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

.persona-nav2 li h4{
    margin-left: 15%;
}

.persona-nav2 li:nth-child(1) div{
    background: #24C28D;
}
.persona-nav2 li:nth-child(2) div{
    background: #EACD5F;
}
.persona-nav2 li:nth-child(3) div{
    background: #6CD2D6;
}
.persona-nav2 li:nth-child(4) div{
    background: #DA6349;
}

.persona-nav2 li:nth-child(5) div{
    background: #7B9AB6;
}

.affinity-nav{
    position: absolute;
    right: 25px;
    top: 45px;
}

.affinity-nav > li > div{
    padding: 4px 6px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

.affinity-nav li{
    font-size: 10px;
}

.affinity-nav li h5{
    margin-left: 20%;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.affinity-nav li:nth-child(1) div{
    background: #24C28D;
}
.affinity-nav li:nth-child(2) div{
    background: #EACD5F;
}
.affinity-nav li:nth-child(3) div{
    background: #6CD2D6;
}
.affinity-nav li:nth-child(4) div{
    background: #DA6349;
}

.affinity-nav li:nth-child(5) div{
    background: #7B9AB6;
}

/*------------------------------*/

.data_graph_row:not( :last-child ) {
    margin-bottom: 15px;
}
.text-random > * {
    float: left;
    margin: 5px;
}
.title-row-obj label {
    text-decoration: underline;
}
.title-row-obj {
    width: 100%;
    font-size: 19px;
}

/*----------------*/

.affinity-graph li{
    display: inline;
    margin-right: 10px;
}

.affinity-graph li div{
    padding: 2px 9px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

.affinity-graph li:nth-child(1) div{
    background: #60CFFF;
}
.affinity-graph li:nth-child(2) div{
    background: #FFE8B3;
}
.affinity-graph li:nth-child(3) div{
    background: #FFDE4F;
}
.affinity-graph li:nth-child(4) div{
    background: #DA6349;
}

.affinity-graph li:nth-child(5) div{
    background: #7B9AB6;
}

.trending-graph li{
    display: inline;
    margin-right: 10px;
}

.trending-graph li div{
    padding: 2px 9px;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
}

.trending-graph li:nth-child(1) div{
    background: #60CFFF;
}
.trending-graph li:nth-child(2) div{
    background: #FFE8B3;
}
.trending-graph li:nth-child(3) div{
    background: #FFDE4F;
}
.trending-graph li:nth-child(4) div{
    background: #DA6349;
}

.trending-graph li:nth-child(5) div{
    background: #7B9AB6;
}

#people .tube-wrapper{
    height: 25px;
    width: 10px;
    background: #E0E0E0;
    float: left;
    border-radius: 3px;
    position: absolute;
    left: 20px;
}

#people .tube-wrapper .tube{
    height: 15px;
    width: 10px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #40DF74;
}


#people .hor-tube-wrapper{
    height: 10px;
    width: 60%;
    background: #E0E0E0;
    float: left;
    border-radius: 3px;
}

#people .hor-tube-wrapper .hor-tube{
    height: 10px;
    width: 30%;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #40DF74;
}

.margin-center{
    margin: 0 auto;
}

.chart-custom{
    position:  relative;
    left: 20px;
}

.micro-influencer .stats{
    display: inline-block;
    margin-right: 10px;
}

.micro-influencer .stats i{
    color: #E25966;
    padding: 4px 5px;
    border: 1px solid #E25966;
    border-radius: 50%;
}

.micro-influencer .fa-check{
    color: #39BB8F;
    padding: 4px 5px;
    border: 1px solid #39BB8F;
    border-radius: 50%;
}

.micro-influencer .images-wrapper{
    overflow: hidden;
    background: #999;
    height: 130px;
    background-position: center !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    margin: 10px 5px;
}

.micro-influencer .images-wrapper .btm{
    position: absolute;
    bottom: 0;
    width: 92%;
    left: 0;
    background: #F2F2F2;
    font-size: 9px;
    text-align: left;
    padding: 5px 8px;
    margin: 0 5px;
}
.micro-influencer .images-wrapper .btm p{
    margin-bottom: 0px;
}

