/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_c061d2d0e334870ecb655943fa3be072.eot");
  src: url("./fontcustom_c061d2d0e334870ecb655943fa3be072.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_c061d2d0e334870ecb655943fa3be072.woff") format("woff"),
       url("./fontcustom_c061d2d0e334870ecb655943fa3be072.ttf") format("truetype"),
       url("./fontcustom_c061d2d0e334870ecb655943fa3be072.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_c061d2d0e334870ecb655943fa3be072.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-bar-chart:before,
.icon-comment:before,
.icon-exit:before,
.icon-favorite:before,
.icon-file:before,
.icon-location-pin:before,
.icon-microscope:before,
.icon-people:before,
.icon-settings:before,
.icon-small-calendar:before,
.icon-tool:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-bar-chart:before { content: "\f102"; }
.icon-comment:before { content: "\f106"; }
.icon-exit:before { content: "\f100"; }
.icon-favorite:before { content: "\f107"; }
.icon-file:before { content: "\f105"; }
.icon-location-pin:before { content: "\f104"; }
.icon-microscope:before { content: "\f108"; }
.icon-people:before { content: "\f10a"; }
.icon-settings:before { content: "\f109"; }
.icon-small-calendar:before { content: "\f103"; }
.icon-tool:before { content: "\f101"; }
